---
Checks: '*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
