---
Checks: '*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*
        -misc-include-cleaner'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
